.countries-table-container {
  overflow-x: auto;
}

.countries-table {
  border-collapse: collapse;
  text-align: left;
}

.countries-table__row td {
  padding: 20px 24px 20px 0;
}

.countries-table__header th {
  padding: 0 20px 15px 0px;
}

.countries-table__header {
  font-size: 1rem;
}

.countries-table__row {
  font-size: 1.2rem;
}

.countries-table__header th {
  border-bottom: 3px solid var(--background-secondary);
}

.countries-table__row img {
  width: 70px;
  height: 45px;
  border-radius: 4px;
  object-fit: cover;
}