:root {
  --background-primary: #1B1D1F;
  --background-secondary: #282B30;
  --background-search-bar: #282b30;
  --primary-color: #D2D5DA;
  --secondary-color: #6C727F;
  --accent-color: #4E80EE;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-primary);
  font-size: 32px;
}

body, input {
  font-family: "Be Vietnam Pro", Inter, system-ui, Helvetica, Arial, sans-serif;
}

h2, h3, h4, p, ul, li, input {
  margin: 0;
  padding: 0;
}

h1, p, tr {
  color: var(--primary-color);
}

h2, h3, h4, th {
  color: var(--secondary-color);
}

h3 {
  font-size: 1rem;
}

p, select, label, button {
  font-size: 1.2rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
